<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Site</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/cappuccicons.css' | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}">
    <link rel="alternate icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
          <span class="logo-text"><a href="index.html"><h1>cgj8702</h1></a></span>
        </div>
      
        <!-- Right section: The 3 links -->
        <div class="nav-right">
          <a href="https://github.com/cgj8702/cgj8702"><h1>Site Repo</h1></a>
          <a href="https://github.com/apps/hannibal-hub-agents"><h1>GitHub App</h1></a>
        </div>
      </nav>
    <main>
        {{ content }}
    </main>
    <button id="toggle-petals-btn">
        <i class="cp cp-flower"></i>
        <span id="petals-text">Turn Petals On</span></button>
    
        <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <footer>
        <div>
        <p>Made using Gemini, W3Schools, and Github Pages.</p>
        </div>
    </footer>

</body>